<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    
    @RenderBody()
    
    <script src="~/templatejs"></script>
    <script src="~/Scripts/app.bundle.js"></script>     
</body>
</html>
